main {
	height: calc(100vh - 50px);
}
	main section.container {
		display: grid;
		grid-template-columns: max-content 1fr;
		height: 100%;
		grid-gap: calc(var(--gap) * 3);
	}
		main section.container nav {
			border-right: 1px solid var(--color-border);
			min-width: 250px;
			max-height: 100%;
			overflow: auto;
		}
			main section .menu .item {
				padding: 12px;
				transition: background var(--transition-duration),
							box-shadow var(--transition-duration);
			}
			main section .menu .item.selected {
				background: rgba(0, 0, 0, 0.15);
				box-shadow: inset 6px 0px 0 var(--color-selected);
			}
			main section .menu .item:active {
				box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.3);
			}
			main section .menu .item:hover {
				background: rgba(0, 0, 0, 0.2);
			}
			main section.container nav a {
				text-decoration: none;
			}
			.documentation {
				max-height: 100%;
				overflow: auto;
				padding-right: calc(var(--gap) * 2);
			}

@media(max-width: 750px) {
	main section.container {
		display: flex;
		flex-direction: column;
	}
		main section.container nav {
			border-bottom: 1px solid var(--color-border);
		}
}